<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="65"
        [radius]="100"
        [title]="'Inglés'"
        [showUnits]="false"
        [titleColor]="'black'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'gray'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="100"
        [radius]="100"
        [title]="'Trabajo en Equipo'"
        [showUnits]="false"
        [titleColor]="'black'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'gray'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'Paquete Microsoft'"
        [showUnits]="false"
        [titleColor]="'black'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'gray'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="60"
        [radius]="100"
        [title]="'Photoshop'"
        [showUnits]="false"
        [titleColor]="'black'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'gray'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="60"
        [radius]="100"
        [title]="'Ilustrator'"
        [showUnits]="false"
        [titleColor]="'black'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'gray'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [title]="'GitHub'"
            [showUnits]="false"
            [titleColor]="'black'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'gray'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        </div>
</div>