<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Fotodeperfil.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Bustamante Rocio Camila</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam saepe voluptatum suscipit, totam fugiat illum ratione nisi necessitatibus et quod voluptas molestias iste recusandae beatae commodi, aut, nesciunt sint sequi.</p>
        </span>
    </div>
</div>